@tailwind base;
@tailwind components;
@tailwind utilities;

:root, html[data-theme="light"] {
  --color-background: #f8fafc; /* slate-50 */
  --color-surface: #ffffff; /* white */
  --color-surface-hover: #f1f5f9; /* slate-100 */
  --color-border: #e2e8f0; /* slate-200 */
  --color-text-primary: #0f172a; /* slate-900 */
  --color-text-muted: #64748b; /* slate-500 */
  --color-accent: #4f46e5; /* indigo-600 */
}

html[data-theme="dark"] {
  --color-background: #0f172a; /* slate-900 */
  --color-surface: #1e293b; /* slate-800 */
  --color-surface-hover: #334155; /* slate-700 */
  --color-border: #334155; /* slate-700 */
  --color-text-primary: #f8fafc; /* slate-50 */
  --color-text-muted: #94a3b8; /* slate-400 */
  --color-accent: #4f46e5; /* indigo-600 */
}
